/* Vertically centering images */
ul#thumbnails li div a {
	display:                block;
}

ul#thumbnails li div span.ie {
	display:                inline-block;
	vertical-align:         middle;
	height:                 100%;
}

.second {
  position:               relative;
  bottom:                 35px;
}

